# Object files<
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
[0-9]*.out
[0-9]*.in
*.app
*.i*86
*.x86_64
*.hex
test
__pychache__
build

# Debug files
*.dSYM/
*.su

.vscode
in