# Object files<
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
[0-9]*.out
[0-9]*.in
*.app
*.i*86
*.x86_64
*.hex
test
__pychache__
build

# Debug files
*.dSYM/
*.su

.vscode

# Input/Output
*in
*in.txt
*in[0-9]
*in[0-9].txt
*input
*input.txt
*input[0-9]
*input[0-9].txt
*out
*out.txt
*out[0-9]
*out[0-9].txt
*cor
*cor.txt
*cor[0-9]
*cor[0-9].txt
*big
*big.txt
*big[0-9]
*big[0-9].txt
*my
*my.txt
*my[0-9]
*my[0-9].txt
*full
*full.txt
*full[0-9]
*full[0-9].txt
*bug
*bug.txt
*bug[0-9]
*bug[0-9].txt
*curr
*curr.txt
*curr[0-9]
*curr[0-9].txt
*real
*real.txt
*real[0-9]
*real[0-9].txt
*val
*val.txt
*val[0-9]
*val[0-9].txt
*ans
*ans.txt
*ans[0-9]
*ans[0-9].txt
*.zip
to_be_deleted.txt

# binaries
naive
code
p

/nil
**/input
**/output
**/testCases